
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
    --red: #ff4321;
    --black: #606163;
}

body {
    font-family: 'Poppins';font-size: 15px;
}

*{
        
    padding: 0;
    box-sizing: border-box;
    background:#edf2fc;
}

.logo {
    font-family: 'Poppins';font-size: 25px;
    color: var(--red);
    
}

label a{
    text-decoration: none;
    color: var(--black);
}


label a:hover{
    color: var(--red);
    
}



.pane{
    width: 100%;
    height: 20vh;
    background:#edf2fc;
    

}
nav{
    width: 84%;
    margin:15px;
    padding: 20px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--black);;
}

nav ul li a:hover{
    color: var(--red);
}

.btn{
   background-color: var(--red);
    border-radius: 4px;
    padding: 10px 19px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}

.btn:hover{
    background: transparent;
    color: var(--red);
    border: 1px solid var(--red);
}

.info h1{
    font-size: 10px;
    color: #444242;
}

.info span{
    font-size: 40px;
    color: var(--red);
}

.info p{
    color: var(--black);;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

img{
    height:290px;
    width:320px;
    border-radius: 50%;
    border: 5px solid #ff4321;
    float: right;
    position: absolute; 
    left: 60%;  
    top: 25%;  
    

}

section h6{
    color: var(--red);
    font-size: 15px;
}

section h5{
    color: var(--black);
    font-size: 17px;
}
section p{
    color: var(--black);
    font-size: 12px;
}

.sections{
    display: block;
    

}

.sec{
    display: block;
    padding: 12px 20px;
    margin: 100;
}

.d-manager{
    padding: 1px;
}

#responsibilities{
    font-size: 10px;
}






#login, #register, #contact {
    position: absolute; 
    left: 40%;  
    top: 20%;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin 8px 0;
    border-radius: 15px;
}

form.calc-1 {
    width: 45%;
    margin-left: 50px;
}

form table.calc-1 {
    width: 60%;
}

#calc-1 {
    width: 100%;
    padding: 12px 20px;
    margin 8px 0;
    border-radius: 4px;
}


#submit{
    background: var(--red);
    border-radius: 20px;
    padding: 10px 19px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 7%;
    transition: all 0.4s ease;
}


.signin2:hover{
    color: var(--red);
}

  
.wrapper {
    width: 40%;
    margin: 4rem auto;
    margin-left: 200px;
    padding: 3 rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.wrapper div.calc {
    height: 50px;
    flex-basis: 20%;
    margin: 10px;
    background-color: gray;
    color: #f8edd3;
    font-size: 1.3rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper div.display{
    height: 60px;
    flex-basis: 100%;
    margin: 10px;
    background-color: gray;
    color: #f8edd3;
    font-size: 1.3rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    position: relative;
    bottom: 100;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
  
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2 rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--black);
}
.footer-content p a{
    max-width: 500px;
    margin: 5px auto;
}


.footer-content p a:hover{
    color: var(--red);
}


.footer-bottom{
    color: var(--black);
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}



