
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
body {
    font-family: 'Poppins';font-size: 15px;
}

*{
        
    padding: 0;
    box-sizing: border-box;
    background:#edf2fc;
}

.logo {
    font-family: 'Poppins';font-size: 25px;
    color: #ff4321;
    
}

label a{
    text-decoration: none;
    color: #606163;
}


label a:hover{
    color: #ff4321;
    
}



.pane{
    width: 100%;
    height: 20vh;
    background:#edf2fc;
    

}
nav{
    width: 84%;
    margin:15px;
    padding: 20px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover{
    color: #ff4321;
}

.btn{
    background: #ff4321;
    border-radius: 4px;
    padding: 10px 19px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}

.btn:hover{
    background: transparent;
    color: #ff4321;
    border: 1px solid #ff4321;
}

.info h1{
    font-size: 10px;
    color: #444242;
}

.info span{
    font-size: 40px;
    color: #ff4321;
}

.info p{
    color: #606163;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}

img{
    height:290px;
    width:320px;
    border-radius: 50%;
    border: 5px solid #ff4321;
    float: right;
    position: absolute; 
    left: 60%;  
    top: 25%;  
    

}

section h6{
    color: #ff4321;
    font-size: 15px;
}

section h5{
    color: #606163;
    font-size: 17px;
}
section p{
    color: #606163;
    font-size: 12px;
}

.sections{
    display: block;
    padding: 12px 20px;
    margin: 0;
}




#login, #register, #contact {
    position: absolute; 
    left: 40%;  
    top: 20%;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin 8px 0;
    border-radius: 15px;
}


#submit{
    background: #ff4321;
    border-radius: 20px;
    padding: 10px 19px;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 7%;
    transition: all 0.4s ease;
}


.signin2:hover{
    color: #ff4321;
}

/* 
footer {
    position: absolute; 
    left: 40%;  
    top: -10%;
} */


/* footer {
    display: block;
    
    left: 0;
    bottom: 0;
    width: 100%;
    
   
    text-align: center;
  } */


  footer {
    text-align: center;
    padding: 3px;
   
    
  }


  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  